.avatar > .col-md-12 > .row > img {
	max-width: 100%;
}

.primary-content ul li {
	margin-left: 15px;
}

.panel-body a:link { color: #0000EE; }
.panel-body a:visited { color: #551A8B; }

.panel-body table td {
	border: 1px solid black;
	padding: 5px 5px 5px 5px;
}